@media screen and(max-width:1288px) {
    .home-page {
        .wrapper {
            width: 100%;
            .outer-wrap {
                .inner-wrap {
                    margin-left: 82px;
                }
                .img-wrap {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    img {
                        height: 100%;
                        width: 432px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1048px) {
    .socials.first {
        display: none;
    }
    .home-page {
        .wrapper {
            .outer-wrap {
                justify-content: center;
                .inner-wrap {
                    margin: 0;
                }
                .img-wrap {
                    display: none;
                }
            }
        }
    }
}
@media screen and(max-width:974px) {
    .main-outer-wrap {
        padding: 25px;
        .row {
            justify-content: flex-end;
            width: 80%;
            padding: 0 5%;
            .img-wrap {
                display: none;
            }
            .inner-wrap {
                .wrap {
                    .title {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:620px) {
    .main-outer-wrap {
        .row {
            .inner-wrap {
                .wrap {
                    .title {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:560px) {
    .main-outer-wrap {
        .row {
            padding: 0 10%;
            padding-left: 6%;
            .inner-wrap {
                img {
                    display: none;
                }
                .wrap {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and(max-width:376px) {
    .home-page {
        height: 978px;
        .outer-wrap {
            .inner-wrap {
                .item {
                    .title-wrap {
                        .title {
                            font-size: 16px !important;
                        }
                    }
                }
            }
        }
    }
}
