@media screen and (max-width: 1288px) {
  .home-page .wrapper {
    width: 100%; }
    .home-page .wrapper .outer-wrap .inner-wrap {
      margin-left: 82px; }
    .home-page .wrapper .outer-wrap .img-wrap {
      height: 100%;
      display: flex;
      align-items: center; }
      .home-page .wrapper .outer-wrap .img-wrap img {
        height: 100%;
        width: 432px; } }

@media screen and (max-width: 1048px) {
  .socials.first {
    display: none; }
  .home-page .wrapper .outer-wrap {
    justify-content: center; }
    .home-page .wrapper .outer-wrap .inner-wrap {
      margin: 0; }
    .home-page .wrapper .outer-wrap .img-wrap {
      display: none; } }

@media screen and (max-width: 974px) {
  .main-outer-wrap {
    padding: 25px; }
    .main-outer-wrap .row {
      justify-content: flex-end;
      width: 80%;
      padding: 0 5%; }
      .main-outer-wrap .row .img-wrap {
        display: none; }
      .main-outer-wrap .row .inner-wrap .wrap .title {
        font-size: 16px; } }

@media screen and (max-width: 620px) {
  .main-outer-wrap .row .inner-wrap .wrap .title {
    font-size: 15px; } }

@media screen and (max-width: 560px) {
  .main-outer-wrap .row {
    padding: 0 10%;
    padding-left: 6%; }
    .main-outer-wrap .row .inner-wrap img {
      display: none; }
    .main-outer-wrap .row .inner-wrap .wrap {
      padding: 0; } }

@media screen and (max-width: 376px) {
  .home-page {
    height: 978px; }
    .home-page .outer-wrap .inner-wrap .item .title-wrap .title {
      font-size: 16px !important; } }
